*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
DEVELOPMENT_PLAN.md
Tiger_N
Tiger_N_elements
.claude
.idea

# Unnecessary & Release Files
Untitled
.kotlin/
app/release/
*.apk
*.aab
*.jks
*.keystore